* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-BlackItalic.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 96 Black Italic"), local("NeueHaasDisplay-BlackItalic"), url("../fonts/neuedesign/NeueHaasDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-BlackItalic.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-Mediu.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 65 Medium"), local("NeueHaasDisplay-Mediu"), url("../fonts/neuedesign/NeueHaasDisplay-Mediu.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-Mediu.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-Mediu.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-Light.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 45 Light"), local("NeueHaasDisplay-Light"), url("../fonts/neuedesign/NeueHaasDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-Light.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-ThinItalic.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 36 Thin Italic"), local("NeueHaasDisplay-ThinItalic"), url("../fonts/neuedesign/NeueHaasDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-ThinItalic.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-RomanItalic.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 56 Roman Italic"), local("NeueHaasDisplay-RomanItalic"), url("../fonts/neuedesign/NeueHaasDisplay-RomanItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-RomanItalic.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-RomanItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-XXThinItalic.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 16 XXThin Italic"), local("NeueHaasDisplay-XXThinItalic"), url("../fonts/neuedesign/NeueHaasDisplay-XXThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-XXThinItalic.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-XXThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-Roman.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 55 Roman"), local("NeueHaasDisplay-Roman"), url("../fonts/neuedesign/NeueHaasDisplay-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-Roman.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-BoldItalic.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 76 Bold Italic"), local("NeueHaasDisplay-BoldItalic"), url("../fonts/neuedesign/NeueHaasDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-BoldItalic.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-Thin.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 35 Thin"), local("NeueHaasDisplay-Thin"), url("../fonts/neuedesign/NeueHaasDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-Thin.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-Black.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 95 Black"), local("NeueHaasDisplay-Black"), url("../fonts/neuedesign/NeueHaasDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-Black.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-XXThin.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 15 XXThin"), local("NeueHaasDisplay-XXThin"), url("../fonts/neuedesign/NeueHaasDisplay-XXThin.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-XXThin.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-XXThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-MediumItalic.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 66 Medium Italic"), local("NeueHaasDisplay-MediumItalic"), url("../fonts/neuedesign/NeueHaasDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-MediumItalic.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-Bold.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 75 Bold"), local("NeueHaasDisplay-Bold"), url("../fonts/neuedesign/NeueHaasDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-Bold.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-XThin.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 25 XThin"), local("NeueHaasDisplay-XThin"), url("../fonts/neuedesign/NeueHaasDisplay-XThin.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-XThin.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-XThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-LightItalic.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 46 Light Italic"), local("NeueHaasDisplay-LightItalic"), url("../fonts/neuedesign/NeueHaasDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-LightItalic.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/neuedesign/NeueHaasDisplay-XThinItalic.eot");
  src: local("../fonts/neuedesign/Neue Haas Grotesk Display Pro 26 XThin Italic"), local("NeueHaasDisplay-XThinItalic"), url("../fonts/neuedesign/NeueHaasDisplay-XThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuedesign/NeueHaasDisplay-XThinItalic.woff") format("woff"), url("../fonts/neuedesign/NeueHaasDisplay-XThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

.container {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  /*  @media (max-width: $breakpoint1450) {
       max-width: 1200px;
   } */
}

* {
  -webkit-tap-highlight-color: transparent;
}

@-webkit-keyframes banner {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes banner {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.marquee {
  -webkit-animation: banner 20s linear infinite;
          animation: banner 20s linear infinite;
}

html {
  font-size: 10px;
}

body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 400;
}

body.locked {
  overflow: hidden;
}

body.dark {
  background: #242424;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrap {
  overflow: hidden;
}

.header {
  background-color: #04080A;
  padding-top: 47px;
}

.header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.7%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(32, 32, 32, 0.31);
  position: relative;
  z-index: 1;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__first-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 87px;
}

.menu__first-side a {
  white-space: nowrap;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__item-alternative {
  gap: 28px;
}

.menu__item-button-1 {
  width: 185;
  min-width: 185;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  border: 1px solid #9145FD;
  padding: 16px 25px 16px 16px;
  height: 55px;
  color: #9145FD;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.menu__item-button-1 > svg path {
  fill: #9145FD;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.menu__item-button-1:hover {
  color: white;
  background-color: #9145FD;
}

.menu__item-button-1:hover > svg path {
  fill: white;
}

.menu__item-button-2 {
  background: #9145FD;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border: 1px solid #9145FD;
}

.menu__item-button-2 > svg path {
  fill: white;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.menu__item-link {
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 1.6rem;
  -webkit-transition: 0.1s color;
  -o-transition: 0.1s color;
  transition: 0.1s color;
}

.menu__item-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  background: #131418;
  height: 1px;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.1s -webkit-transform;
  transition: 0.1s -webkit-transform;
  -o-transition: 0.1s transform;
  transition: 0.1s transform;
  transition: 0.1s transform, 0.1s -webkit-transform;
  display: none;
}

.menu__item-link:hover {
  color: #FF6914;
}

.menu__item-link:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.burger {
  display: none;
  background: #9145FD;
  z-index: 2000;
}

.banner {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: rgba(255, 255, 255, 0.116);
  height: 30px;
}

.banner__overlay {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 105, 20, 0.8)), color-stop(45%, rgba(255, 105, 20, 0.8)), color-stop(55%, rgba(145, 69, 253, 0.8)), to(rgba(145, 69, 253, 0.8)));
  background: -o-linear-gradient(left, rgba(255, 105, 20, 0.8) 0%, rgba(255, 105, 20, 0.8) 45%, rgba(145, 69, 253, 0.8) 55%, rgba(145, 69, 253, 0.8) 100%);
  background: linear-gradient(90deg, rgba(255, 105, 20, 0.8) 0%, rgba(255, 105, 20, 0.8) 45%, rgba(145, 69, 253, 0.8) 55%, rgba(145, 69, 253, 0.8) 100%);
  width: 100%;
  height: 100%;
  z-index: 10;
  mix-blend-mode: multiply;
}

.banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__item {
  padding: 0 39px;
  color: white;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: 400;
}

.intro {
  background-color: #04080A;
  padding-top: 31px;
  padding-bottom: 160px;
}

.intro__body {
  margin-top: 156px;
}

.intro__title {
  text-align: center;
  font-weight: 500;
  font-size: 6.4rem;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7.47%, #FFF), color-stop(60.71%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, #FFF 7.47%, rgba(255, 255, 255, 0) 60.71%);
  background: linear-gradient(180deg, #FFF 7.47%, rgba(255, 255, 255, 0) 60.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro__title span {
  background: -webkit-gradient(linear, left top, right top, color-stop(30.43%, #FF6914), color-stop(75.93%, #9145FD));
  background: -o-linear-gradient(left, #FF6914 30.43%, #9145FD 75.93%);
  background: linear-gradient(90deg, #FF6914 30.43%, #9145FD 75.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro__buttons {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  gap: 25px;
  position: relative;
}

.intro__buttons-1 a {
  white-space: nowrap;
  min-width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  border: 1px solid #FF6914;
  padding: 16px 25px 16px 16px;
  color: #FF6914;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 400;
}

.intro__buttons-1 a svg path {
  fill: #FF6914;
  -webkit-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.intro__buttons-1 a:hover {
  background-color: #FF6914;
  color: white;
}

.intro__buttons-1 a:hover svg path {
  fill: white;
}

.intro__buttons-2 a {
  white-space: nowrap;
  min-width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  border: 1px solid #9145FD;
  padding: 16px 25px 16px 16px;
  color: #9145FD;
  font-weight: 400;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.intro__buttons-2 a svg path {
  fill: #9145FD;
  -webkit-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.intro__buttons-2 a:hover {
  background-color: #9145FD;
  color: white;
}

.intro__buttons-2 a:hover svg path {
  fill: white;
}

.intro__textbox {
  max-width: 773px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}

.right__planet {
  position: absolute;
  right: -570px;
  top: -350px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.right__planet-2 {
  display: none;
  position: absolute;
  right: -20px;
  top: -240px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.left__planet {
  position: absolute;
  left: -570px;
  top: -350px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.left__planet-2 {
  display: none;
  position: absolute;
  left: -20px;
  top: -240px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.projects {
  background: #EAEAEA;
  padding: 70px 0;
}

.projects__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.projects__textbox {
  max-width: 768px;
}

.projects__textbox h2 {
  color: #04080A;
  font-size: 4.8rem;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

.projects__textbox h2 span {
  color: #FF6914;
}

.projects__textbox > p {
  margin-top: 30px;
  color: #04080A;
  font-size: 2rem;
  font-style: normal;
  margin-bottom: 30px;
  line-height: 30px;
  font-weight: 400;
}

.projects__textbox a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
  padding: 16px 25px 15px 16px;
  border: 1px solid #FF6914;
  background: #FF6914;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.projects__swiper {
  width: 591px;
  height: 300px;
  position: relative;
}

.projects__swiper-item {
  background-color: white;
  width: 436px;
  height: 178px;
  padding: 20px 75px 20px 20px;
  -webkit-box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.05), -5px -5px 7px 0px rgba(0, 0, 0, 0.04), -12px -11px 10px 0px rgba(0, 0, 0, 0.03), -22px -19px 12px 0px rgba(0, 0, 0, 0.01), -34px -30px 13px 0px rgba(0, 0, 0, 0);
          box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.05), -5px -5px 7px 0px rgba(0, 0, 0, 0.04), -12px -11px 10px 0px rgba(0, 0, 0, 0.03), -22px -19px 12px 0px rgba(0, 0, 0, 0.01), -34px -30px 13px 0px rgba(0, 0, 0, 0);
}

.projects__swiper-item > p {
  margin-left: 12px;
  margin-top: 11px;
  color: #000;
  font-size: 2.4rem;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

.projects__swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.projects__swiper-rec {
  min-width: 85px;
  height: 85px;
  width: 85px;
  background: #000;
  position: relative;
  margin-left: 12px;
  margin-top: 12px;
}

.projects__swiper-rec > div {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #9145FD;
  left: -12px;
  top: -12px;
}

.projects__swiper-textbox {
  margin-top: 12px;
  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
}

.projects__swiper-textbox a {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #9145FD;
  font-size: 2rem;
  font-style: normal;
  line-height: normal;
}

.swiper1 {
  width: 100%;
  height: 100%;
  z-index: 0 !important;
}

.swiper1__item-2 {
  position: absolute;
  top: 122px;
  right: 0;
}

.swiper-pagination1 {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  bottom: 60px !important;
  left: 0 !important;
}

.swiper-pagination1 .swiper-pagination-bullet {
  width: 30px !important;
  height: 5px !important;
  background-color: #D3D3D3 !important;
  opacity: 1 !important;
  border-radius: 0 !important;
  margin: 0 8px !important;
}

.swiper-pagination1 .swiper-pagination-bullet-active {
  background-color: #9145FD !important;
  -webkit-box-shadow: 0px 2px 14px 0px rgba(64, 140, 255, 0.24) !important;
          box-shadow: 0px 2px 14px 0px rgba(64, 140, 255, 0.24) !important;
}

.opinion {
  padding: 70px 0;
  position: relative;
  overflow: hidden;
}

.opinion::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.9);
  height: 10px;
  z-index: 99999999;
}

.opinion__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.opinion__textbox {
  max-width: 816px;
}

.opinion__textbox h2 {
  color: #04080A;
  font-size: 4.8rem;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

.opinion__textbox h2 span {
  color: #9145FD;
}

.opinion__textbox > p {
  margin-top: 30px;
  color: #04080A;
  font-size: 2rem;
  font-style: normal;
  margin-bottom: 30px;
  line-height: 30px;
}

.opinion__textbox a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
  padding: 16px 25px 15px 16px;
  border: 1px solid #9145FD;
  background: #9145FD;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: 400;
}

.opinion__swiper {
  width: 625px;
  height: 330px;
  position: relative;
  /*  @media(max-width: 420px){
       width: 350px;
   } */
}

.opinion__swiper-item {
  width: 436px;
  height: 330px;
  background-color: #04080A;
  padding: 20px 20px 43px 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.opinion__swiper-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.opinion__swiper-rec {
  min-width: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  position: relative;
  margin-left: 12px;
  margin-top: 12px;
}

.opinion__swiper-rec > div {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #FF6914;
  left: -12px;
  top: -12px;
}

.opinion__swiper-site {
  color: #FFF;
  font-size: 1.4rem;
  font-style: normal;
  line-height: normal;
}

.opinion__swiper-textbox {
  margin-left: 12px;
  margin-top: 11px;
}

.opinion__swiper-textbox h3 {
  color: #FFF;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;
}

.opinion__swiper-textbox p {
  margin-top: 30px;
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
}

.opinion__swiper-textbox p a {
  color: #FF6914;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.swiper2 {
  /*  width: 100% !important; */
  /*  height: 100% !important; */
}

.swiper-pagination2 {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  bottom: -35px !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
}

.swiper-pagination2 .swiper-pagination-bullet {
  width: 30px !important;
  height: 5px !important;
  background-color: #D3D3D3 !important;
  opacity: 1 !important;
  border-radius: 0 !important;
  margin: 0 8px !important;
}

.swiper-pagination2 .swiper-pagination-bullet-active {
  background-color: #FF6914 !important;
  -webkit-box-shadow: 0px 2px 14px 0px rgba(64, 140, 255, 0.24) !important;
          box-shadow: 0px 2px 14px 0px rgba(64, 140, 255, 0.24) !important;
}

.swiper-slide.swiper-slide-active {
  z-index: 9999 !important;
}

.swiper2-next-slide {
  /* @media(max-width: $breakpoint480){
      right: 0px !important;
  } */
}

.swiper-slide:not(.swiper-slide-active) .opinion__swiper-item {
  background: #353535;
}

.join {
  background: #38ABE6;
  padding: 50px 0;
  position: relative;
  z-index: 999999999;
  overflow: hidden;
}

.join::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.9);
  height: 10px;
}

.join::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.9);
  height: 10px;
}

.join__img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.join__content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.join__content h4 {
  max-width: 449px;
  margin-top: 13px;
  color: #FFF;
  font-size: 4.8rem;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  white-space: nowrap;
}

.join__content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  margin-top: 50px;
  padding: 16px 24px 15px 15px;
  border: 1px solid #002D44;
  gap: 26px;
  height: 55px;
  white-space: nowrap;
  background: #002D44;
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 19.36px;
  font-weight: 400;
}

.join__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
  height: 210px;
  font-size: clamp(0.4rem, 0.8vw, 1rem);
}

.join__text {
  position: absolute;
}

.join__text-1 {
  color: #E4F3FB;
  top: 256px;
  left: 57px;
  font-size: 2.4em;
  font-weight: 500;
  line-height: 30px;
  opacity: 0.1;
}

.join__text-2 {
  color: #95CEEB;
  font-size: 4.8em;
  font-weight: 500;
  line-height: 59px;
  top: 106px;
  left: 93px;
}

.join__text-3 {
  color: #95CEEB;
  font-size: 5.1em;
  font-weight: 500;
  line-height: 63px;
  top: 188px;
  left: 361px;
  opacity: 0.4;
}

.join__text-4 {
  color: #95CEEB;
  font-size: 4.3em;
  font-weight: 500;
  line-height: 54px;
  top: 44px;
  left: 526px;
}

.join__text-5 {
  color: #95CEEB;
  font-size: 4.3em;
  font-weight: 500;
  line-height: 54px;
  top: 44px;
  right: 465px;
  opacity: 0.5;
}

.join__text-6 {
  color: #95CEEB;
  font-size: 3.5em;
  font-weight: 500;
  line-height: 43px;
  top: 197px;
  right: 333px;
}

.join__text-7 {
  color: #95CEEB;
  font-size: 3.3em;
  font-weight: 500;
  line-height: 41px;
  top: 114px;
  right: 71px;
  opacity: 0.4;
}

.quote {
  padding: 70px 0;
  position: relative;
}

.quote__cat {
  position: absolute;
  right: 96px;
  bottom: 0;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.quote::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  opacity: 0.2;
  background: #A3A3A3;
}

.quote::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  opacity: 0.2;
  background: #A3A3A3;
}

.quote__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote__quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 51px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.quote__textbox {
  max-width: 1052px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  color: #04080A;
  font-size: 4.8rem;
  font-style: normal;
  line-height: normal;
}

.quote__owasp {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.quote__owasp p {
  color: #04080A;
  font-size: 2rem;
  font-style: normal;
  line-height: normal;
}

.quote__owasp-rec {
  width: 24px;
  height: 24px;
  background: #000;
}

.container-2 {
  max-width: 1820px;
  margin: 0 auto;
}

.git {
  background-color: #0D1116;
  padding: 8px 0;
  position: relative;
}

.git__cat {
  position: absolute;
  right: 96px;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.git__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
  position: relative;
  z-index: 1;
}

.git__illustration {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.git__illustration-mobile {
  display: none;
}

.git__content h2 {
  color: #FFF;
  font-size: 4.8rem;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

.git__content h2 span {
  color: #9145FD;
}

.git__content a {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 18px 32px;
  background: #9145FD;
  color: #FFF;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
}

.git__content a span {
  font-weight: 500;
}

.footer {
  background-color: #04080A;
  padding: 70px 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__st {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.footer__st p {
  margin-top: 10px;
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
}

.footer__st p span {
  color: #FF6914;
}

.footer__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.footer__copy {
  margin-top: 20px !important;
}

.footer__acordion {
  display: none;
}

.footer__nd {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.footer__list {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer__list:last-child {
  gap: 7px;
}

.footer__list-item:first-child {
  color: #FFF;
  font-size: 2.4rem;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

.footer__link {
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
  -webkit-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

.footer__link:hover {
  color: #FF6914;
}

.footer__rd {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.footer__socials-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socials-item:nth-child(2) > svg {
  width: 40px;
  height: 40px;
}

.footer__socials-item path {
  fill: white;
  -webkit-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.footer__socials-item:hover g,
.footer__socials-item:hover path {
  fill: #FF6914;
}

.footer__buttons {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

.footer__buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 55px;
  border: 1px solid #9145FD;
}

.footer__buttons a:last-child {
  background-color: #9145FD;
}

.list__item-labeling {
  margin-top: 0;
}

.list__item-labeling p {
  color: #818181;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
}

.list__item-labeling a {
  color: #FF6914;
}

.accordion {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.accordion .footer__list {
  gap: 0;
}

.accordion .accordion__item {
  padding: 0 25px;
  margin-top: 60px;
}

.accordion .accordion__item:first-child {
  margin-top: 0;
}

.accordion .accordion__item .accordion__item-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.accordion .accordion__item .accordion__item-trigger img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion .accordion__item.accordion__item-active .accordion__item-content {
  display: block;
}

.accordion .accordion__item.accordion__item-active img {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.accordion .accordion__item .accordion__item-content {
  padding-bottom: 20px;
  display: none;
  -webkit-animation: fade 0.3s ease;
          animation: fade 0.3s ease;
}

.accordion .accordion__item .accordion__item-content > li {
  margin-top: 30px;
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  line-height: normal;
}

.accordion .accordion__item .accordion__item-content > li:first-child {
  font-weight: 400;
}

.accordion .accordion__item .accordion__item-content > li a {
  opacity: 0.7;
}

@media (max-width: 1500px) {
  .join__text-4 {
    left: 340px;
  }

  .join__text-5 {
    right: 365px;
  }
}

@media (max-width: 1370px) {
  .quote__cat {
    right: 0;
  }

  .git__cat {
    right: 0;
    z-index: 0;
  }
}

@media (max-width: 1220px) {
  .footer__nd {
    gap: 30px;
  }
}

@media (max-width: 1200px) {
  .menu__first-side {
    gap: 40px;
  }

  .join__text-3 {
    left: 220px;
  }

  .join__text-4 {
    left: 200px;
  }

  .join__text-5 {
    right: 265px;
  }

  .join__text-6 {
    right: 233px;
  }
}

@media (max-width: 1100px) {
  .navbar {
    gap: 4%;
  }
}

@media (max-width: 1080px) {
  .quote__cat {
    display: none;
  }

  .container-2 {
    padding: 0 25px;
  }

  .git__cat {
    display: none;
  }
}

@media (max-width: 1050px) {
  .opinion__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .navbar {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__first-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__title {
    font-size: 4.8rem;
  }

  .right__planet {
    right: -520px;
  }

  .left__planet {
    left: -520px;
  }

  .projects__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .join__text-2 {
    display: none;
  }

  .join__text-3 {
    left: 120px;
  }

  .join__text-6 {
    right: 30px;
  }

  .join__text-7 {
    display: none;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }

  .footer__st {
    text-align: center;
  }

  .footer__nd {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__rd {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #04080A;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1000;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 36px;
    width: 36px;
  }

  .burger-1 {
    border-radius: 10px;
    position: absolute;
    width: 16px;
    left: 50%;
    top: 10px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    height: 2px;
    background-color: white;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger-2 {
    border-radius: 10px;
    position: absolute;
    width: 16px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 2px;
    background-color: white;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger-3 {
    border-radius: 10px;
    position: absolute;
    width: 16px;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    height: 2px;
    background-color: white;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active .burger-1 {
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
    top: 17px;
    left: 10.5px;
  }

  .burger.active .burger-2 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    left: 0;
  }

  .burger.active .burger-3 {
    -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotateZ(-45deg);
    bottom: 17px;
    left: 10.5px;
  }
}

@media (max-width: 880px) {
  .join__text-4 {
    left: 40px;
  }

  .join__text-5 {
    right: 40px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .banner__overlay {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 105, 20, 0.8)), color-stop(40%, rgba(255, 105, 20, 0.8)), color-stop(60%, rgba(145, 69, 253, 0.8)), to(rgba(145, 69, 253, 0.8)));
    background: -o-linear-gradient(left, rgba(255, 105, 20, 0.8) 0%, rgba(255, 105, 20, 0.8) 40%, rgba(145, 69, 253, 0.8) 60%, rgba(145, 69, 253, 0.8) 100%);
    background: linear-gradient(90deg, rgba(255, 105, 20, 0.8) 0%, rgba(255, 105, 20, 0.8) 40%, rgba(145, 69, 253, 0.8) 60%, rgba(145, 69, 253, 0.8) 100%);
  }

  .intro__title {
    font-size: 3.6rem;
  }

  .right__planet {
    right: -500px;
  }

  .left__planet {
    left: -500px;
  }

  .join {
    padding: 20px 0;
    padding-bottom: 40px;
  }

  .join__content img {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .join__content h4 {
    font-size: 2.4rem;
    margin-top: 8px;
  }

  .join__content a {
    font-size: 1.28rem;
    padding: 15px 40px;
    margin-top: 20px;
  }

  .join__body {
    height: 170px;
  }

  .join__text-3 {
    top: 162px;
    left: 40px;
  }

  .join__text-4 {
    top: 23px;
  }

  .join__text-6 {
    top: 157px;
    right: 20px;
  }

  .footer__acordion {
    display: block;
    width: 100%;
  }

  .footer__nd > ul {
    display: none;
  }
}

@media (max-width: 650px) {
  .intro {
    padding-top: 20px;
  }

  .intro__body {
    margin-top: 120px;
  }

  .opinion__swiper {
    width: 550px;
  }

  .opinion__swiper-textbox h3 {
    font-size: 1.6rem;
  }

  .opinion__swiper-textbox p {
    margin-top: 41px;
    font-size: 1.4rem;
  }
}

@media (max-width: 630px) {
  .opinion__swiper {
    width: 510px;
  }
}

@media (max-width: 620px) {
  .projects__swiper {
    width: 342px;
    height: 201px;
  }

  .projects__swiper-item {
    padding: 13px;
    width: 293px;
    height: 120px;
  }

  .projects__swiper-item > p {
    font-size: 1.6rem;
    margin-top: 8px;
    margin-left: 8px;
  }

  .projects__swiper-rec {
    min-width: 57px;
    height: 57px;
  }

  .projects__swiper-rec > div {
    width: 18px;
    height: 18px;
    left: -8px;
    top: -8px;
  }

  .projects__swiper-textbox {
    font-size: 1.2rem;
  }

  .projects__swiper-textbox a {
    font-size: 1.5rem;
    margin-top: 10px;
    height: 18px;
  }

  .swiper1__item-2 {
    top: 81px;
  }

  .swiper-pagination1 .swiper-pagination-bullet {
    width: 10px !important;
    height: 3px !important;
    margin: 0 2px !important;
  }

  .swiper-pagination1 {
    left: 0 !important;
    bottom: 44px !important;
  }

  .swiper-pagination2 .swiper-pagination-bullet {
    width: 10px !important;
    height: 3px !important;
    margin: 0 2px !important;
  }
}

@media (max-width: 580px) {
  .git {
    padding: 32px 0;
  }

  .git__body {
    display: block;
  }

  .git__illustration {
    display: none;
  }

  .git__illustration-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }

  .git__content {
    text-align: center;
  }

  .git__content h2 {
    font-size: 2.4rem;
  }

  .git__content a {
    font-size: 1.28rem;
    margin: 0 auto;
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .opinion__swiper {
    width: 470px;
  }
}

@media (max-width: 550px) {
  .intro {
    padding-bottom: 60px;
  }

  .intro__body {
    margin-top: 120px;
  }

  .right__planet {
    right: -550px;
  }

  .left__planet {
    left: -550px;
  }
}

@media (max-width: 480px) {
  .git__content {
    text-align: left;
  }

  .git__content a {
    margin: 0;
    margin-top: 19px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .header {
    padding-top: 26px;
  }

  .navbar {
    border-bottom: none;
  }

  .intro {
    padding-top: 0px;
  }

  .intro__title {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(7.47%, #FFF), color-stop(80.71%, rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, #FFF 7.47%, rgba(255, 255, 255, 0) 80.71%);
    background: linear-gradient(180deg, #FFF 7.47%, rgba(255, 255, 255, 0) 80.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .intro__buttons {
    font-size: 1.28rem;
    gap: 47px;
  }

  .intro__buttons-1 a {
    min-width: 148px;
    gap: 20.8px;
    padding: 13px 20px 12px 13px;
  }

  .intro__buttons-2 a {
    min-width: 148px;
    gap: 20.8px;
    padding: 13px 20px 12px 13px;
  }

  .right__planet {
    display: none;
  }

  .right__planet-2 {
    display: block;
  }

  .left__planet {
    display: none;
  }

  .left__planet-2 {
    display: block;
  }

  .projects {
    padding: 30px 0;
    overflow: hidden;
  }

  .projects__body {
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .projects__textbox h2 {
    font-size: 2.4rem;
  }

  .projects__textbox > p {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
  }

  .projects__textbox a {
    font-size: 1.28rem;
    gap: 20px;
    padding: 12px 20px 12px 12px;
  }

  .projects__swiper {
    width: 338px;
    height: 201px;
  }

  .opinion {
    padding-top: 30px;
  }

  .opinion__body {
    gap: 20px;
  }

  .opinion__textbox h2 {
    font-size: 2.4rem;
  }

  .opinion__textbox > p {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
  }

  .opinion__textbox a {
    font-size: 1.28rem;
    gap: 20px;
    padding: 12px 20px 12px 12px;
  }

  .opinion__swiper {
    width: 380px;
  }

  .opinion__swiper-item {
    width: 343px;
  }

  .swiper-slide:not(.swiper-slide-active) .opinion__swiper-item {
    background: rgba(53, 53, 53, 0.5);
  }

  .join__content a {
    width: 148px;
    height: 44px;
  }

  .join__text-3 {
    top: 172px;
    left: 15px;
  }

  .join__text-4 {
    top: 13px;
    left: 15px;
  }

  .join__text-5 {
    top: 33px;
    right: 20px;
  }

  .quote {
    padding: 30px 0;
  }

  .quote__textbox {
    margin-top: 40px;
    font-size: 2.4rem;
  }

  .quote__owasp {
    margin-top: 40px;
  }

  .quote__owasp p {
    font-size: 1.6em;
  }

  .quote__owasp-rec {
    width: 23px;
    height: 23px;
  }

  .footer {
    padding: 30px 0;
  }
}

@media (max-width: 420px) {
  .opinion {
    overflow: hidden;
  }
}

@media (max-width: 380px) {
  .intro__buttons {
    gap: 20px;
  }
}

@media (max-width: 365px) {
  .git__illustration-mobile img {
    width: 100%;
    height: auto;
  }
}